<div class="container-fluid bg-light">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="btn btn-link" routerLink="unit-info">Информация</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" routerLink="unit-productions">Описание производимых работ</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" routerLink="unit-deliveries">Поставки</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" routerLink="unit-upkeep"  >Содержание</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" routerLink="unit-equipment-rental" >Аренда оборудования</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link"routerLink="unit-workers" >Рабочие</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" routerLink="reports" >Отчеты</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" routerLink="unit-setting" >Настройки</button>
    </li>
  </ul>
</div>
<div class="container-fluid height:100vh">
  <router-outlet></router-outlet>
  <router-outlet name='left'></router-outlet>
</div>
